[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data --storage.tsdb.retention.time=8928h
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target