global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
      monitor: 'monitor'

scrape_configs:
  - job_name: 'prometheus'

    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'nodes'
    static_configs:
{% for node in groups.hostmetrics %}
      - targets: ['{{ hostvars[node]['ansible_host'] }}:9100']
        labels: {'host': '{{ node }}' }
{% endfor %}