.vagrant/
files/*.rpm
files/prometheus
files/node_exporter
files/amtool
files/alertmanager
files/apache_exporter
files/nginx-prometheus-exporter
files/*.tar.gz
files/*.token
files/certs/
files/backup/*.pub
*.log